body{
    padding: 0%;
    margin: 0%;
    font-family: "Roboto",Arial,sans-serif;
}
header {
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    
}
header i {
    color: #299adc;
}
.ic-em {
    display: flex;
    margin-top: 15px;
    margin-left: 120px;  
    gap: 5px;
}
.ic-em p {
    margin-top: 0%;
    color: #999;
}
.icons {
    margin-right: 450px;
}
.icons i {
    background-color: white;
    width: 10px;
    height: 10px;
    padding: 13px 13px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
    justify-content: center;
}
.btn-book {
    background-color: #299adc;
    color: white;
    border: none;
    margin-right: 120px;
    cursor: pointer;
}
.logo-text {
    display: flex;
    
}
.logo-text h1 {
    margin-top: 11px;
    text-transform: uppercase;
}
.logo-text h1 {
    color: #299adc;
}
.icon-text {
    display: flex;
    gap: 20px;
    align-items: center;
}
.icon-text > i {
    border: 1px solid rgba(0,0,0,.05);
    padding: 10px 10px;
    color: #299adc;
}
span {
    color: #299adc;
}
.icon-text p {
    font-weight: bold;
    margin: 0%;
}
.call-us p {
    font-weight: 100;
    color: #999;
    font-size: 15px;
}
.header-bottom {
    display: flex;
    justify-content: space-between;
    margin: 50px 110px;
}
nav {
    height: 50px;
    width: 100%;
    background-color: #299ADC;
}
nav ul {
    padding-top: 17px;
    margin: 0px 50px;
}
nav ul li {
    display: inline-block;
    margin: 0px 25px;
}
nav ul li a {
    text-decoration: none;
    margin-top: 0px; 
    color: white;
    text-transform: uppercase;
    font-weight: 550;
}
.doctor {
    background-image: url(/assets/images/about\ dr.webp) ;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    gap: 10px;
    position: relative;   
}
.about_text{
    position: absolute;
    bottom: 20px;
    left: 50px;
    margin-left: 70px;
}
.home_about {
    display: flex;
    gap: 10px;
}
.home_about p {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.about_heading h1 {
    font-size: 40px;
    color: #299ADC;
    font-weight: 700;
    margin-top: 0;
}
.doctor a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
   font-size: 19px;
   font-weight: 600;

}
.doctor a:hover {
    color: #299ADC;
}
.doctor a i:hover {
    color: #299ADC;
}
.doctor i {
    color: rgba(0, 0, 0, 0.5);
}
.doctor h4 {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}
.about_heading h1 {
    font-size: 40px;
    color: #299ADC;
}
.group_dr {
    margin-top: 100px;
    margin-left: 100px;
    cursor: zoom-in;
}
.last_section {
    background-color: #F2F2F2;
    height: 500px;
}
.med_text {
    display: flex;
}
.med_icon img {
    margin-top: 13px;
}
.med_heading h3{
    color: #299ADC;
}
.medex_para p {
    line-height: 1.8rem;
}
.med_icons {
    height: 50px;
    width: 50px;
    background-color: white;
}
.med_icons i {
    color: #299ADC;
    padding: 18px 18px;
}
.med_all_icons {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.med_icons {
    display: flex;
    justify-content: space-between;
}
.chevron_dept {
    display: flex;
    gap: 8px;
}
.chevron_dept i {
    color: #299ADC;
    margin: 10px 0px;
}
.chevron_dept a {
    margin-top: 0;
    text-decoration: none;
    transition: 0.3s;
    color: black;
    margin: 10px 0px;
}
.chevron_dept a:hover {
    color: #299ADC;
}
.chevron_dept p {
    margin-top: 0;
}
.blue-color {
    color: #299ADC;
    cursor: pointer;
    padding-top: 10px;
}
.dept_links h3 {
    margin-bottom: 50px;
}
.dept_links {
    width: 20%;
}
.dept_links {
    width: 20%;
}
.links {
    width: 20%;
}
.services {
    width: 20%;
}
.question {
    width: 20%;
}
.question  h3 {
    text-transform: uppercase;
}
.link_heading {
    margin-bottom: 50px;
}
.services_heading {
    margin-bottom: 50px;
}
.question_heading {
    margin-bottom: 50px;
}
.main_div_last_section {
    display: flex;
    padding-top: 100px;
    margin: 0px 80px;
    gap: 20px;
}
.footer {
    height: 130px;
    background-color: #3bc053;
}
.footer p {
    text-align: center;
    padding-top: 65px;
    margin-top: 0;
    color: rgba(255, 255, 255, 0.7);
}